/* ===============================  3. Banner Videos  =============================== */

.banner__vid {
    margin-top: 3.75rem;
    height: 35rem;
    position: relative;
    overflow: hidden;
}

.banner__vid__item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    min-width: 100%;
    min-height: 100%;
}






