
/* ===============================  2. Banner  =============================== */

.banner {
    margin-top: 12.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(363px, 1fr));
}
  
.banner__description {
    padding-left: 22%;
}

.banner__arrow {
    margin-top: 2.5rem;

    border: .05rem solid var(--darkGrey);
    padding: .875rem .625rem;
    border-radius: 20rem;
    display: inline-block;
}
.banner__arrow:hover {
    background: var(--darkGrey);
    color: var(--white);
}

.banner__arrow img {
    max-width: 1.5rem;
    transform: rotate(90deg);
}
.banner__arrow:hover img {
    filter: invert(1);
}


/* ===============================  Responsive - Tablet  =============================== */

@media (max-width: 768px) { 

    .banner {
        margin-top: 9.375rem;
    }

    .banner__description {
        margin-top: 1.875rem;

        padding-left: initial;
    }
}


/* ===============================  Responsive - Mobile  =============================== */

@media (max-width: 480px) { 
    
    .banner {        
        display: block;
    }
}




  