

/* ===============================  10. Contact  =============================== */

.contact {
    padding-top: 8.75rem;
}

.contact .contact__description {
    margin-top: 1.875rem;
}

.contact form {
    margin-top: 2.25rem;  
}

.contact form .form__row {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
}

.contact form span {
    margin-top: 2.25rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
    color: var(--darkGrey);
}

.form__label1,
.form__label4,
.form__label7 {
    margin-right: 1rem;
}
.form__label2,
.form__label5 {
    margin-right: 1rem;
    margin-left: 1rem;
}
.form__label3,
.form__label6 {
    margin-left: 1rem;
}

.contact form input,
.contact form textarea,
.contact form select {
    margin-top: 2.25rem;
    padding-left: 1rem;
    height: 2.6rem; 
    flex-grow: 1;
    border: 0.05rem solid var(--grey);
    background: transparent;
    outline: none;
    border-radius: 0;
    font-size: 1rem;
    color: var(--darkGrey);
    font-family: 'Ubuntu', sans-serif;
}

.contact form textarea {
    margin-bottom: 3.75rem;
    margin-right: 0;
    resize: none;
    height: 5rem;
    padding-top: 1rem;
}

.contact form input::placeholder,
.contact form textarea::placeholder {
    color: var(--grey);
}

.contact form select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url(../img/angle-down.png) no-repeat;
    background-position: calc(100% - 10px);
    background-size: 1.5rem 1.5rem;
    background-repeat: no-repeat;
}

.contact form select:hover {
    cursor: text;
}

.contact form .form__row__btn {
    text-align: right;
}

.contact form #mecontacter {
    background: var(--darkGrey);
    color: var(--white);
}
.contact form #mecontacter img {
    filter: invert(1);
}

.contact form #mecontacter:hover {
    background: transparent;
    color: var(--darkGrey);
}

.contact form #mecontacter:hover img {
    filter: invert(0);
}


/* ===============================  Responsive Spéciale  =============================== */
@media (max-width: 768px) { 
    .form__label3,
    .form__label6 {
        margin-left: 0;
    }
}
@media (max-width: 688px) { 
    .form__label3 {
        margin-left: 1rem;
    }
}
@media (max-width: 652px) { 
    .form__label2,
    .form__label5 {
        margin-right: 0;
    }
    .form__label6 {
        margin-left: 1rem;
    }
}
@media (max-width: 480px) { 
    .form__label6 {
        margin-left: 0;
    }
}
@media (max-width: 430px) { 
    .form__label2,
    .form__label3,
    .form__label5 {
        margin-left: 0;
    }
    .form__label2 {
        margin-right: 1rem;
    }
}

/* ===============================  Responsive - Mobile  =============================== */

@media (max-width: 480px) { 
    .contact form .form__row__btn {
        text-align: left;
    }

}