
/* ===============================  6. Equipment  =============================== */

.equipment {
    padding-top: 7.5rem;  
}

.equipment__banner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
}


/* ===============================  Carousel navigation  =============================== */

.equipment .equipment__nav button {
    border: 0.05rem solid var(--darkGrey);
    padding: .5rem .875rem;
    border-radius: 20rem;
    display: inline-block;
    cursor: pointer;
    background: none;
    outline: none;
    transition: var(--transitions);
}
.equipment .equipment__nav button:hover {
    background: var(--darkGrey);
    color: var(--white);
  }
.equipment .equipment__nav button:hover img {
    filter: invert(1);
}
.equipment .equipment__nav #arrowLeftEquipment {
    transform: rotate(180deg);
    margin-right: 1rem;
}
.equipment .equipment__nav button img {
    max-width: 1.5rem;
} 



.equipment__carousel .slick-prev,
.equipment__carousel .slick-next {
    position: absolute;
    top: -22%;
    transform: translateY(22%);
    z-index: 10;
}

.equipment__carousel .slick-prev {
    right: 12%;
}
.equipment__carousel .slick-next {
    right: 7%;
}


/* ===============================  Carousel equipments  =============================== */

.equipment__carousel {
    margin-top: 3.75rem;
}

.equipment__carousel .equipment__carouselItem {
    margin: 0 1.25rem;
}

.equipment__carouselItem img {
    width: -webkit-fill-available;
    height: 23.125rem;
}

.carousel__item__details h6 {
    margin-top: 1.875rem;
    margin-bottom: .75rem;
}







/* ===============================  Responsive - Desktop  =============================== */

@media (max-width: 1024px) { 

}


/* ===============================  Responsive - Tablet  =============================== */

@media (max-width: 768px) { 

}


/* ===============================  Responsive - Mobile  =============================== */

@media (max-width: 480px) { 
    .equipment__carousel .equipment__carouselItem {
        margin: 0 .625rem;
    }
}