
/* ===============================  6. Equipment  =============================== */

.equipment {
    padding-top: 7.5rem;  
}

.equipment__banner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
}

.equipment .equipment__nav button {
    border: 0.05rem solid var(--darkGrey);
    padding: .5rem .875rem;
    border-radius: 20rem;
    display: inline-block;
    cursor: pointer;
    background: none;
    outline: none;
    transition: var(--transitions);
}
.equipment .equipment__nav button:hover {
    background: var(--darkGrey);
    color: var(--white);
  }
.equipment .equipment__nav button:hover img {
    filter: invert(1);
}
.equipment .equipment__nav #arrowLeftEquipment {
    transform: rotate(180deg);
    margin-right: 1rem;
}
.equipment .equipment__nav button img {
    max-width: 1.5rem;
} 




.equipment__carousel {
    margin-top: 3.75rem;
}

.equipment__carousel .slick-prev,
.equipment__carousel .slick-next {
    position: absolute;
    top: -22%;
    transform: translateY(22%);
    z-index: 10;
}

.equipment__carousel .slick-prev {
    right: 12%;
}
.equipment__carousel .slick-next {
    right: 7%;
}




.equipment__carousel .equipment__carouselItem:nth-child(2n+1) {
    width: 540px;
}
.equipment__carousel .equipment__carouselItem:nth-child(2n+0) {
    width: 350px;
}

.equipment__carousel .equipment__carouselItem {
    margin: 0 20px;
}

.equipment__carouselItem img {
    width: -webkit-fill-available;
    height: 370px;
}



/* :not(:last-child) 

https://www.youtube.com/watch?v=4SQXOA8Z-lo
*/