
/* ===============================  7. Faq  =============================== */

.faq {
    padding-top: 8.75rem;
}

.faq__accordion {
    margin-top: 2.5rem;
}

.faq__accordion .faq__accordion__item,
.faq__accordion .faq__accordion__item button[aria-expanded='true'] {
    border-bottom: 0.05rem solid var(--darkGrey);
}

.faq__accordion .faq__accordion__item button[aria-expanded='true'] {
    border-bottom: none;
}

.faq__accordion button {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    padding: 1.5rem 0;
    color: var(--darkGrey);
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.75rem;
    border: none;
    background: none;
    outline: none;
}

.faq__accordion button:hover,
.faq__accordion button:focus {
    cursor: pointer;
}

.faq__accordion .accordion__item__icon {
    max-width: 1.75rem;
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 1.75rem;
    height: 1.75rem;
}

.faq__accordion .accordion__item__icon img {
    width: -webkit-fill-available;
    transition: var(--transitions);  
}

.faq__accordion button[aria-expanded="true"] .accordion__item__icon img {
    transform: rotate(180deg);
}

.faq__accordion button[aria-expanded="true"] + .accordion__item__content {
    opacity: 1;
    max-height: 9em;
    transition: var(--transitions);
    will-change: opacity, max-height;
    margin-bottom: 1.5rem;
    width: 90%;
}

.faq__accordion .accordion__item__content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: var(--transitions);
    will-change: opacity, max-height;
    width: 90%;
}








