
/* ===============================  11. Footer  =============================== */

footer {
    margin-top: 12rem;
}

footer .footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    column-gap: 1rem;    
}

footer .footer__logo img {
    max-width: 10rem; 
    margin-bottom: 1.25rem;
}

footer .footer .footer__sitemap {
    display: flex;
    flex-direction: row;
}

footer .footer .footer__sitemap .footer__sitemap__column1 {
    margin-right: 2rem;
}

footer .footer .footer__sitemap a,
footer .footer .footer__social a {
    display: block;
    line-height: 2.25rem;
}

footer .footer .footer__sitemap,
footer .footer__social {
    justify-self: end;
}

footer .footer a,
footer .footer p {
    font-weight: 400;
    color: var(--darkGrey);
}

footer .copyright {
    text-align: center;
    margin-top: 8.125rem;
    margin-bottom: 2.5rem;
}

footer .copyright a {
    font-weight: 400;
    color: var(--grey);
}

footer .copyright a:hover {
    color: var(--darkGrey);
}



/* ===============================  Responsive - Tablet  =============================== */

@media (max-width: 768px) { 

    footer .footer .footer__sitemap,
    footer .footer .footer__social {
        margin-top: 2.5rem;
        justify-self: start;
    }

    footer .footer .footer__sitemap .footer__sitemap__column1 {
        margin-right: 5rem;
    }

    footer .copyright {
        text-align: left;
    }
}
