
/* ===============================  4. Jobs  =============================== */

.jobs {
    padding-top: 8.75rem;
}

.jobs h2,
.jobs h3 {
    text-align: center;
}

.jobs__item {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(363px, 1fr));
}

.jobs .jobs__item {
    margin-top: 6.25rem;
}
.jobs .jobs__1 {
    margin-top: 5rem;
}


.jobs__item .jobs__img {
    width: -webkit-fill-available;
    max-width: 430px; 
}

.jobs__item:nth-child(2n) .jobs__img {
    justify-self: end;
}

.jobs__1 .jobs__img {  
    height: 480px;
    object-position: left;
}
.jobs__2 .jobs__img {  
    height: 500px;
    object-position: top;
}
.jobs__3 .jobs__img { 
    height: 520px;
    object-position: top center;
}
.jobs__4 .jobs__img {  
    height: 400px;
    object-position: center;
}


.jobs__description .jobs_icon {
    display: inline-block;
    max-width: 2rem;
    vertical-align: text-top;
    margin-right: .375rem;
}

.jobs__description .jobs_hastags {
    margin-top: 1.25rem;

    font-size: 1rem;
    font-weight: 500;
    line-height: 1.625rem;
    color: var(--grey);
}

.jobs__description .jobs_hastags span {
    padding-right: .5rem;
}

.jobs__description p,
.jobs__description a {
    margin-top: 1.875rem;
}


.jobs__item:nth-child(2n) .jobs__description {
    order: -1;
    padding-right: 4%;
}

.jobs__item:nth-child(2n+1) .jobs__description {
    padding-left: 4%;
}



/* ===============================  Responsive - Tablet  =============================== */

@media (max-width: 768px) { 
    .jobs h2,
    .jobs h3 {
        text-align: left;
    }
    
    .jobs .jobs__1 {
        margin-top: 3.75rem;
    }

    .jobs__item:nth-child(2n+1) .jobs__description {
        padding-left: initial;
    }

    .jobs__item:nth-child(2n) .jobs__description {
        order: initial;
        padding-right: initial;
    }

    .jobs__item:nth-child(2n) .jobs__img {
        justify-self: initial;
    }

    .jobs__item .jobs__img {
        max-width: initial;
        height: 300px;
    }

    .jobs__item .jobs__description h4 {
        margin-top:  1.875rem;
    }

}


/* ===============================  Responsive - Mobile  =============================== */

@media (max-width: 480px) { 
    .jobs__description a {
        margin-top: 1.875rem;
    }

    .jobs__item {
        display: block;
    }
}






