
/* Import VARIABLES from variables.css */
@import url("variables.css");


/* Import BUTTON from buttons.css */
@import url("buttons.css");


/* Import NAVIGATION from navigation.css */
@import url("navigation.css");


/* Import BANNER from banner.css */
@import url("banner.css");


/* Import BANNER VIDEO from bannerVid.css */
@import url("bannerVid.css");


/* Import COMPANY from company.css */
@import url("company.css");


/* Import JOBS from jobs.css */
@import url("jobs.css");


/* Import REECYCLE from recycle.css */
@import url("recycle.css");


/* Import PROJECTS from projects.css */
@import url("projects.css");


/* Import EQUIPMENT from equipment.css */
@import url("equipment.css");


/* Import FAQ from faq.css */
@import url("faq.css");


/* Import PARNTERS from partners.css */
@import url("partners.css");


/* Import DIRECTION from direction.css */
@import url("direction.css");


/* Import CONTACT from contact.css */
@import url("contact.css");


/* Import FOOTER from footer.css */
@import url("footer.css");


/* Import MENTIONS from mentions.css */
@import url("admin/mentions.css");


/* ===============================  Global  =============================== */

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


html {
  /* basefont */font-size: 1rem;
  scroll-behavior: smooth;
}

body {
  font-family: 'Ubuntu', sans-serif;
  background: var(--bgSite);
}

p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
  color: var(--grey);
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  color: var(--darkGrey);
  margin: 0;
}

h1 {
  font-size: 3rem;
  line-height: 3.25rem;
}

h2 {
  font-size: 2.5rem;
  line-height: 2.875rem;
}

h3 {
  font-size: 2rem;
  line-height: 2.375rem;
}

h4 {
  font-size: 1.625rem;
  line-height: 1.75rem;
}

h5 {
  font-size: 0.875rem;
  line-height: 1rem;
  color: var(--grey);
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin-bottom: 0.625rem;
}

a {
  font-weight: 500;
  text-decoration: none;
  line-height: 1.125rem;
  color: var(--darkGrey);
  transition: var(--transitions);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  display: inline-block;
}

img {
  height: auto; 
  object-fit: cover;
  display: block;
}

.margin__constraint {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.useful__width1 {
  max-width: 1060px;
  margin-left: auto;
  margin-right: auto;
}

.useful__width2 {
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
}






