
/* ===============================  8. Testimony  =============================== */

.testimony {
    padding-top: 8.75rem;
}

.testimony h5 {
    line-height: 2.125rem;
    color: var(--darkGrey);
    max-width: 46.875rem;
    margin: 0 auto;
}

.testimony h5,
.testimony .testimony__author,
.testimony .testimony__company {
    text-align: center;
}

.testimony .testimony__author {
    font-weight: 500;
    color: var(--darkGrey);
    margin-top: 1.25rem;
}


/* ===============================  Carousel arrows testimony  =============================== */

.testimony__carousel button {
    border: 0.05rem solid var(--darkGrey);
    padding: .5rem .875rem;
    border-radius: 20rem;
    display: inline-block;
    cursor: pointer;
    background: none;
    outline: none;
    transition: var(--transitions);
}

.testimony__carousel button:hover {
    background: var(--darkGrey);
    color: var(--white);
  }
  .testimony__carousel button:hover img {
    filter: invert(1);
}
.testimony__carousel #arrowLeftTestimony {
    transform: rotate(180deg)!important;
    margin-right: 1rem;
}
.testimony__carousel button img {
    max-width: 1.5rem;
} 

.testimony__carousel #arrowLeftTestimony,
.testimony__carousel #arrowRightTestimony {
    position: absolute;
    bottom: -40%;
}
.testimony__carousel #arrowLeftTestimony  {
    right: 49%;
}
.testimony__carousel #arrowRightTestimony {
    left: 51%;
}



/* ===============================  Responsive - Tablet  =============================== */

@media (max-width: 768px) {
    .testimony h5,
    .testimony .testimony__author,
    .testimony .testimony__company {
        text-align: left;
    }

}