
/* ===============================  8. Testimony  =============================== */

.testimony {
    padding-top: 8.75rem;
}

.testimony h5 {
    line-height: 2.125rem;
    color: var(--darkGrey);
    max-width: 46.875rem;
    text-align: center;
    margin: 0 auto;
}

.testimony .testimony__author,
.testimony .testimony__company {
    text-align: center;
}

.testimony .testimony__author {
    font-weight: 500;
    color: var(--darkGrey);
    margin-top: 1.25rem;
}





.testimony__carousel .slick-prev,
.testimony__carousel .slick-next {
    position: absolute;
    z-index: 10;
    bottom: -30%;
}
.testimony__carousel .slick-prev {
    left: 46%;
    transform: translateX(-46%);
}
.testimony__carousel .slick-next {
    left: 54%;
    transform: translateX(-54%);
}






/*  ARROW NAV

.testimony .testimony__nav button {
    padding: .5rem .875rem;
    display: inline-block;
    cursor: pointer;
    background: none;
    outline: none;
    border: none;

    transition: var(--transitions);
}

.testimony .testimony__nav button img {
    max-width: 1.5rem;
}

.testimony .testimony__nav #arrowLeftTestimony {
    transform: rotate(180deg);
} */





